<!DOCTYPE html>
<html>

<head>
    <title>Security Game - Über uns</title>
    <meta charset="UTF-8">
    <link href="assets/styles/about.css" rel="stylesheet" type="text/css">
</head>

<body>
        <% include includes/nav.html %>
        <main>
            <h1>About Us</h1>
		<h3> Wer wir sind</h3>
		Wir,  die  Entwickler  des  Serious  Game  „IT-Security“,  sind  vier  junge  Dual  Studenten  im  5.  Semester  der  Hochschule  Osnabrück.  Im  Rahmen  unseres  Wirtschaftsinformatik  Studiums  haben  wir  die  Aufgabe  erhalten  ein  Serious  Game  als  Webanwendung  zu  entwickeln.  Um  das  Unternehmen  eines  unseres  Teammitgliedes  zu  unterstützen,  möchten  wir  ein  Serious  Game  entwickeln,  dass  dessen  Mitarbeiter  in  dem  Bereich  IT-Security  schult,  Ihnen  Wissen  vermittelt  und  einen  Lern-  und  Übungseffekt  hat. 
        	
		<h3>Das Serious Game "IT-Security"</h3>
		Das Spiel soll an die sogenannte "Security-Week" der Firma KRONE unterstützen. In dieser soll dern Mitarbeitern das Thema IT-Security näher bringen.
		Dabei sollen die erarbeiteten Themen spielerich aufgegriffen und vertieft werden. Durch das Spiel kann zudem eine Auswertung treffen, in welchen Bereichen die Mitarbeiter sicheres Wissen besitzen, oder wo sie weitere Schulungsmaßnahmen benötigen.
		Hierfür  lösen  Sie  in  mehreren  Level,  die  in  eine    zugehörigen  Story  eingebettet  ist,  Aufgaben  und  Probleme, die einen IT-Security Kontext haben.
   
	</main>
        <% include includes/footer.html %>
</body>

</html>
