<!DOCTYPE html>
<html>

<head>
    <title>Security Game - Entwickler</title>
    <meta charset="UTF-8">
    <link href="assets/styles/developers.css" rel="stylesheet" type="text/css">
</head>

<body>
        <% include includes/nav.html %>
        <main>
            <p>You can reach the site admin at leon.twenning@hs-osnabrueck.de</p>
        </main>
        <% include includes/footer.html %>
</body>

</html>
