<!DOCTYPE html>
<html>

<head>
    <title>Security Game - Impressum</title>
    <meta charset="UTF-8">
    <link href="assets/styles/impressum.css" rel="stylesheet" type="text/css">
</head>

<body>
        <% include includes/nav.html %>
        <main>
            <h1>Impressum</h1>
		<p>Für die Erstellung des Spiels wurden verschiedene Grafiken, Bilder, Sprites u.ä. verwendet.</p>
		<p>Die Entwickler haben dabei versucht ausschließlich offen lizensierte Quellen zu nutzen.</p>
		<p>Die Quellen sind im folgenden angegeben:</p>

		<p>Bitte beachten Sie, dass diese Website in keinem direkten Zusammenhang mit der Bernard KRONE Holding oder einer ihrer Tochterunternehmen steht.
		Es handelt sich um ein rein akademisches Projekt von Studenten der Hochschule Osnabrück.</p>
		<p>Bei Fragen melden Sie sich gerne unter leon.twenning@hs-osnabrueck.de</p>

		<p>To develop this game the developers used a wide range of graphics, images, sprites and likely things.
		We as developers tried to only use openly licensed sources for our game.
		The sources are listed above.</p>
		
		<p>Please notice that this website is not directly related to the Bernard KRONE Holding or any of its associates.
		It was developed only for academic purposes and was developed by students at Hochschule Osnabrück.</p>
		<p>If you have any questions you can reach us under leon.twenning@hs-osnabrueck.de</p> 
        </main>
        <% include includes/footer.html %>
</body>

</html>
