@import url('base.css');

h2{
    text-align: center;
}
div#head{
    grid-area: head;
    height: fit-content;
    width: 100%;
}
div#wrapper{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
}
div#wrapper > div#left{
    grid-area: left;
    height: fit-content;
    width: 50%;
    margin-left: 20%;
}
div#wrapper > div#right{
    grid-area: right;
    height: fit-content;
    width: 50%;
    text-align: center;
    margin-right: 10%;
}
td,th{
    border: 1px black solid;
    padding-left: 10px;
    padding-right: 10px;
}
th{
    text-align: center;
    background: black;
    color: white;
}
table#question{
    text-align: center;
    width: 100%;
}
table#player{
    margin: 0;
}
div#graph{
    grid-area: graph;
    height: fit-content;
    width: 100%;
    margin-top: 10px;
}
div#graph-data{
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    margin-bottom: 5px;
}
div#question{
    width: 20%;
    text-align: end;
    padding: 5px;
}
div#data{
    width: 70%;
    display: flex;
    flex-direction: row;
    text-align: center;
}
div#data > div{
    border: 1px black solid;
    padding: 5px;
}
div#correct{
    background: green;
}
div#wrong{
    background: red;
}
div#no-answer{
    background: yellow;
}